body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #CCCCCC;
  margin-top: 10px;
}

.cancel-action-sheet-button {
  background: #DDDDDD !important;
}

h5 {
  text-align: center;
  color: #999;
  margin-bottom: 10px;
}

ul.transaction-details {
  list-style: none;
  padding: 0px;
}

.transaction-details li {
  word-break: break-all;
  padding: 5px 0;
}

.transaction-details li span {
  color: #999;
}
