body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /*background: #344867;*/
/*background: linear-gradient(to right,#344867 0%,#1e1f3f 100%);*/
  /*background: url('bg.png') #000;*/
  background: #F4F7F9;
  height: 10px /* hack */;
}

.menu {

  /*background: #394C58;*/
  background-color: #009cde;
      background-image: radial-gradient(circle farthest-side at center bottom,#316e9e,#384e61 125%);
      border-right: 4px solid #1d2b35;
}

.main-content {
  padding: 40px 20px 20px 20px !important;
  background: #F4F7F9;
}

.home-content {
  margin: 0 auto;
  width: 400px;
}

table.pt-table th, table.pt-table td {
  vertical-align: initial !important;
}

.menu ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  width: 180px;
}

.menu ul li {
  text-align: right;
  font-size: 16px;
}

.menu ul li.divider {
  border-bottom: 1px solid #777;
  padding: 10px 20px 10px 0px;
  text-transform: uppercase;
  color: #94c1dd;
  opacity: 0.5;
  font-size: 12px;
  text-align: right;
}

.menu ul li a.selected {
  background: #1d2b35;
  /*background: #303e47;*/
}

.menu ul li a {
  padding: 15px 20px 15px 0px;
  display: block;
  text-decoration: none;
  color: #94c1dd;
}

.menu ul li a:hover {
  background: #1d2b35;
  color: #94c1dd;
}

.mnemonic {
  height: 80px;
}

.setup {
  padding: 40px;
  margin: 0 auto;
  width: 500px;
}

.extra-large-icon {
  font-size: 60px !important;
}

.wallet-icon {
  opacity: 0.4;
  padding: 20px 0;
  text-align: center;
  font-size: 30px;
  color: #94c1dd;
}

.wallet-icon p {
  font-size: 16px;
  margin-top: 20px;
}

.instructions, .content {
  padding: 100px 80px;
  font-size: 20px;
  color: #999;
  text-align: center;
}

.content button {
  width: 200px;
}

.instructions h2 {
  text-align: center;
  margin: 20px 0;
  color: #777;
}

.instructions h5 {
  text-transform: uppercase;
}

.setup-secret {
  margin: 20px;
  padding: 20px;
  border: 1px solid #DDD;
  background: #FFF;
  display: flex;
  width: 600px;
}

.setup-secret .key-qrcode {
  /*width: 140px;*/
  /*height: 140px;*/
  flex: 0 0 140px;
}

.setup-secret .key-text {
  /*height: 140px;*/
  word-break: break-all;
  flex: 1;
}

.wallet-details {
  text-align: center;
}
.wallet-details img {
  /*opacity: 0.2;*/
  width: 100px;
}
.wallet-details .bt-action {
  margin: 10px;
  line-height: 50px !important;
  padding: 0 25px !important;
  font-size: 18px !important;
  width: 160px;
}

.balance {
  margin: 20px;
  font-size: 40px;
  color: #999;
}

.balance span {
  color: #CCC;
  font-size: 12px;
  text-transform: uppercase;
  display: block;
}

.fiat {
  font-size: 24px;
  color: #444;
}

.transactions {
  margin: 20px 0;
}

.transactions h5 {
  font-size: 14px !important;
  text-transform: uppercase;
  color: #999 !important;
  margin: 10px !important;
}

.deposit-dialog, .deposit-dialog input {
  text-align: center !important;
}

.transaction-qr-code {
  text-align: center !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.key-scanner {
  border: 2px solid #AAA;
  /*width: 300px;
  height: 300px;*/
}
